<ion-view class="konten" title="Cek Nama">
    <ion-content>
        <div class="list padding">
            <div class="list list-inset animated bounceInLeft">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input ng-model="cari" type="text" placeholder="Cari {{ kategori }}">
                </label>
            </div>
			<button ng-click="cariNama(cari)" class="button button-block button-royal animated fadeInRight">
			  Submit
			</button>

            <div class="card animated bounceInLeft">
                <div class="item item-text-wrap">
                    <span style="margin-right: 1em;" class="ion-information-circled"></span><strong>Petunjuk</strong>
                    <p>Silahkan masukan <strong>{{ kategori }}</strong> yang anda cari</p>
                </div>
            </div> 

        </div>
    </ion-content>
</ion-view>
