<!DOCTYPE html>
<html ng-app="starter">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="dist/ionic.material.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="dist/ionic.material.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>

<body ng-controller="HomeCtrl">
    <div class="bar bar-header bar-royal">
        <h1 class="title fontLobster">Cek Produk Halal</h1>
        <div class="buttons">
            <button style="box-shadow: none !important;" class="button button-icon ion-help-circled" ng-click="modal.show()">
            </button>
        </div>
    </div>
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-header-bar align-title="center" class="bar-royal">
            </ion-header-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
    </ion-side-menus>
    <script id="about" type="text/ng-template">
        <ion-modal-view>
            <ion-header-bar align-title="center">
                <h1 class="title fontLobster">Tentang Aplikasi</h1>
                <button style="color: black;" class="button button-clear button-primary" ng-click="modal.hide()"><span class="ion-close-circled"></span></button>
            </ion-header-bar>
            <ion-content class="padding deskripsiAbout">
                <p>Aplikasi untuk mengecek Sertifikasi Halal suatu produk</p>
                <p>Aplikasi ini membutuhkan koneksi internet untuk mengecek data dari server</p>
                <p>Mengecek Halal Berdasarkan: </p>
                <p>
                    <ul type="1">
                        <li><strong>Nama Produk</strong></li>
                        <li><strong>Nomor Sertifikasi</strong></li>
                        <li><strong>Nama Produsen</strong></li>
                    </ul>
                </p>
                <div style="border-left: none;" class="list list-inset">
                    <strong>Dikembangkan oleh,</strong>
                    <p>Hitamcoklat</p>
                    <strong>Email: </strong>
                    <p>info@hitamcoklat.com</p>
                </div>
            </ion-content>
        </ion-modal-view>
    </script>
    <div style="background: none !important;" class="bar bar-footer">
      <div class="title"><img style="height: 100%;" src="img/logo_footer.png" /></div>
    </div>        
</body>

</html>
