/* Empty. Add your own CSS if you like */
@font-face {
    font-family: lobster;
    src: url('../dist/lobster.otf');
}

.fontLobster {
	font-family: lobster !important;
}

.borderAtas {
	border-top: 0.5em solid #886AEA !important;
}

.konten {
	background-image: url('../img/bg1.jpg');
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.listKategori {
	background-color: white;
}

.bg-food {
	background-image: url('../img/bg2.jpg');
	background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;	
}

.bg-food p {
	text-align: center;	
	color: white !important;
}

.bg-food strong {
	color: #CC78B2 !important;
}